select{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;

    -moz-box-shadow:0 1px 2px #ddd;
	-webkit-box-shadow:0 1px 2px #ddd;
    box-shadow:0 1px 2px #ddd;

    border:1px solid #aaa;
    color:#333333;
    padding:3px;
    background: url(../images/input_bg.gif);
}
textarea{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;

    -moz-box-shadow:0 1px 2px #ddd;
	-webkit-box-shadow:0 1px 2px #ddd;
    box-shadow:0 1px 2px #ddd;

    border:1px solid #aaa;
    color:#333333;
    padding:3px;
    background: #ffffff;
}
input[type=text]{
	border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;

    box-shadow:0 1px 2px #ddd;
    -moz-box-shadow:0 1px 2px #ddd;
    -webkit-box-shadow:0 1px 2px #ddd;
    background: url(../images/input_bg.gif);
    border:1px solid #aaa;
    color:#555555;
    padding:4px;
    margin:6px;

}

input[type=password]{
	border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;

    box-shadow:0 1px 2px #ddd;
    -moz-box-shadow:0 1px 2px #ddd;
    -webkit-box-shadow:0 1px 2px #ddd;

	background: url(../images/input_bg.gif);
    border:1px solid #aaa;
    color:#555555;
    padding:4px;
    margin:6px;

}

input[type=submit]{
    font-weight:bold;
	border: 1px solid #aaa;
	padding: 0px;
	width: 140px;
	height: 30px;
	color: #111;
	margin-top: 10px;
	text-decoration: none;
	background: #ddd;
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
    background: -moz-linear-gradient(top,  #ffffff,  #cccccc);
    background: -o-linear-gradient(top,  #ffffff,  #cccccc);

}

input[type=submit]:hover{	position: relative;
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#dddddd));
    background: -moz-linear-gradient(top,  #cccccc,  #dddddd);
    background: -o-linear-gradient(top,  #cccccc,  #dddddd);
    cursor:pointer;
}

input[type=submit]:active{	position: relative;
	top: 1px;
	left: 1px;
}
input[type=reset]{
    font-weight:bold;
    margin-left:14px;
	border: 1px solid #aaa;
	padding: 3px 7px;
	color: #111;
	text-decoration: none;
	background: #ddd;

    border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;

	text-shadow: 0px 1px 0px #fff;
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
    background: -moz-linear-gradient(top,  #ffffff,  #cccccc);
    background: -o-linear-gradient(top,  #ffffff,  #cccccc);

}

input[type=reset]:hover{	position: relative;
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#dddddd));
    background: -moz-linear-gradient(top,  #cccccc,  #dddddd);
    background: -o-linear-gradient(top,  #cccccc,  #dddddd);
    cursor:pointer;
}

input[type=reset]:active{	position: relative;
	top: 1px;
	left: 1px;
}

.table-header {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}

tr th {
	border: none;
}

tr th:first-child {
	-khtml-border-top-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-o-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
	border: none;
}

tr th:last-child {
	-khtml-border-top-right-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-o-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
}

a.light, input.light, ul.light li a, th.light, td.light{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#025b93', endColorstr='#ECECEC');
	background: -webkit-gradient(linear, left top, left bottom, from(#025b93), to(#ECECEC)); 
	background: -moz-linear-gradient(top,  #025b93,  #ECECEC); 
	-webkit-box-shadow: inset 0px 1px 0 #025b93, 0px 1px 0 #B5B5B5;
	-moz-box-shadow: inset 0px 1px 0 #025b93, 0px 1px 0 #B5B5B5;
	-o-box-shadow: inset 0px 1px 0 #025b93, 0px 1px 0 #B5B5B5;
	-khtml-box-shadow: inset 0px 1px 0 #025b93, 0px 1px 0 #B5B5B5;
	box-shadow: inset 0px 1px 0 #025b93, 0px 1px 0 #B5B5B5;
	}

option {
font: normal 13 verdana;
}

h1 {
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif; font-size: 15px; color: #3B5998; text-decoration: none;
	}
.body-border{
	padding: 1px;
	border: 1px solid #ccc;
}
	a.return:link{ padding: 0px 7px 0px 7px; font-family: "lucida grande", tahoma, verdana, arial, sans-serif; font-size: 13px; color: #3B5998; text-decoration: none;}
	a.return:visited{ padding: 0px 7px 0px 7px; font-family: "lucida grande", tahoma, verdana, arial, sans-serif; font-size: 13px; color: #3B5998; text-decoration: none;}
	a.return:active{ padding: 0px 5px 0px 7px; font-family: "lucida grande", tahoma, verdana, arial, sans-serif; font-size: 13px; color: #3B5998; text-decoration: none;}
	a.return:hover{ padding: 0px 7px 0px 7px; font-family: "lucida grande", tahoma, verdana, arial, sans-serif; font-size: 13px; color: #c85103; text-decoration: underline;}

hr {width: auto; color:#c0c0c0;background-color:#c0c0c0;height:1px;border:none;}
.font-footer {
	font: normal 11 verdana; color: #777777;
}

.default-font {
	font: normal 11 Verdana;
	color: #3f3f3f;
	padding: 10px 5px 5px 15px;
	}

	hr {width: auto; color:#c0c0c0;background-color:#c0c0c0;height:1px;border:none;}
	.font-footer {
		font: normal 11 verdana; color: #777777;
	}

a.navlink:link {font-family: "lucida grande", tahoma, verdana, arial, sans-serif; font-size: 12px; color: #084182; text-decoration: none;}
a.navlink:visited {text-decoration: none; color: #3B5998;}
a.navlink:hover {color: #3B5998; text-decoration: underline;}
a.navlink:active {color: #3B5998; text-decoration: none;}
